<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
        
        <div class="nav-line">
            <div class="home">
                <a class="nav-item" href="@">Главная</a>
            </div>
            <div class="etc">
                <a class="nav-item" href="@">123</a>
                <a class="nav-item" href="@">123</a>
            </div>
        </div>
    </div>
    <div class="new-header">
        <div class="head-wrapper">
            <div class="nav">
                <ul class="menu">
                    <li><a class="menu-item" href="">logo</a></li>
                    <li><a class="menu-item" href="">Главная</a></li>
                    <li><a class="menu-item" href="">123123</a></li>
                    <li><a class="menu-item" href="">123123</a></li>
                </ul>
            </div>
            <div class="name">

            </div>
        </div>
    </div>
    {% block events %}
        
    {% endblock events %}
    
    {% block body %}
        
    {% endblock body %}
</body>
</html>